

        p.gen1st {
            padding-left: 0px;
        }

        p.gen2nd {
            padding-left: 50px;
            color:green;
        }
        p.gen3rd {
            padding-left: 100px;
            color:red;
        }
        p.gen4th {
            padding-left: 150px;
            color:blue;
        }
        p.gen5th {
            padding-left: 200px;
            color:orange;
        }
        p.gen6th {
            padding-left: 250px;
            color:yellow;
        }
        p.gen7th {
            padding-left: 300px;
            color:purple;
        }

        span.smallIndent {
            padding-left: 25px;
        }
